<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- CSS File-->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
    <title>receipt</title>
  </head>
<table class="body-wrap">
  <tbody><tr>
      <td></td>
      <td class="container" width="600">
          <div class="content">
              <table class="main" width="100%" cellpadding="0" cellspacing="0">
                  <tbody><tr>
                      <td class="content-wrap aligncenter">
                          <table width="100%" cellpadding="0" cellspacing="0">
                              <tbody><tr>
                                  <td class="content-block">
                                      <h2 bold=true>IT’S ORDERED!</h2>
                                      <p>Hi {{ data['clientName'] }}, your order has been received.</p>
                                  </td>
                              </tr>
                              <tr>
                                  <td class="content-block">
                                      <table class="invoice">
                                          <tbody><tr>
                                            <td>
                                                  Order ID: {{ data['orderID'] }} <br>
                                                  Order date: {{ data['deliveredAt'] }}<br>
                                                  Delivered by: {{ data['couriername'] }}
                                              </td>
                                          </tr>
                                      </tbody></table>
                                  </td>
                              </tr>
                             
                              <tr>
                                  <td class="content-block">
                                      Company Uber, Mladost 1, Sofia 1000
                                  </td>
                              </tr>
                          </tbody></table>
                      </td>
                  </tr>
              </tbody></table>
              <div class="footer">
                  <table width="100%">
                      <tbody><tr>
                          <td class="aligncenter content-block">Questions? Email <a href="mailto:">uber@company.inc</a></td>
                      </tr>
                  </tbody></table>
              </div></div>
      </td>
      <td></td>
  </tr>
</tbody></table>
