<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <title>Uber</title>
</head>

<body>
    <header>
        <div class="message">
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <h3>Uber</h3>
                    </div>
                </div>
                <div class="info">
                    <div class="row">
                        <div class="col-sm">
                            <h1>Thank you for your order, 
                            <br>{{data['clientName']}}!</h1>
                        </div>
                        <div class="col-sm-4">
                            <div class="logo"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="myline">
            </div>
        </div>
    </header>

    <div class="data">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <h3>Client:</h3>
                </div>
                <div class="col-sm">
                    <p>Name: {{data['clientName']}}</p>
                    <p>Phone: {{data['phoneNumber']}}</p>
                </div>
            </div>
            <div class="mylines"></div>
            <br>
            <div class="row">
                <div class="col-sm-2">
                    <h3>Courier:</h3>
                </div>
                <div class="col-sm">
                    <p>Name: {{data['courierName']}}</p>
                </div>
            </div>
            <div class="mylines"></div>
            <br>
            <div class="row">
                <div class="col-sm-2">
                    <h3>Delivery:</h3>
                </div>
                <div class="col-sm">
                    <p>Created: {{data['createdAt']}}</p>
                    <p>Delivered: {{data['deliveredAt']}}</p>
                    <p>Type: {{data['deliveryType']}}</p>
                    <p>Distance: {{data['distance']}} m</p>
                </div>
            </div>
            <div class="mylines"></div>
            <br>
            <div class="row">
                <div class="col-sm-2">
                    <h3>Subtotal:</h3>
                </div>
                <div class="col-sm">
                    <p>Base Fare:</p>
                    <p>Distance Price:</p>
                    <p>Discount:</p>
                    <p>VAT:</p>
                </div>
                <div class="col-sm">
                    <div class="prices">
                        <p>{{data['baseFare']}}</p>
                        <p>{{data['basePrice']}}</p>
                        <p>{{data['discount']}}</p>
                        <p>{{data['VAT']}}</p>
                    </div>
                </div>
            </div>
            <div class="mylinesn"></div>
            <br>
            <div class="row">
                <div class="col-sm-2">
                    <h3>Total:</h3>
                </div>
                <div class="col-sm">

                </div>
                <div class="col-sm">
                    <p>{{data['totalPrice']}}</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="myline"></div>

    <div class="map">
        <div class="container">
            <div class="row">
                <div class="col-sm-1">
                    <p>From: </p>
                    <p>To:</p>
                </div>
                <div class="col-sm-2">
                    <p>{{data['from']['addressName']}}</p>
                    <p>{{data['to']['addressName']}}</p>
                </div>
                <div class="col-sm-8">
                    <div class="mimage">
                        <img src = "data:image/png;base64,{{data['img']}}" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>